Library
Temp
XCode
ExportedObj/
Art/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/.suo
/*.sln
*.user
*.unityproj
*.booproj
.settings
.vscode

*.apk

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
ProjectVersion.txt
Assets/StreamingAssets/CleanRoom2VR_360_BT.mp4
Assets/StreamingAssets/CleanRoom2VR_360_BT.mp4.meta
